/* App specific styles if needed */
.app-container {
  height: 100%;
  display: flex;
  flex-direction: column;
  padding-bottom: 80px;
  /* Space for bottom nav */
  overflow-y: auto;
}

.page-transition-enter {
  opacity: 0;
  transform: translateY(10px);
}

.page-transition-enter-active {
  opacity: 1;
  transform: translateY(0);
  transition: opacity 300ms, transform 300ms;
}

.page-transition-exit {
  opacity: 1;
}

.page-transition-exit-active {
  opacity: 0;
  transition: opacity 300ms;
}